
.powerSourcesWrapOuter {
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

.powerSourcesBoxHeading {
  composes: boxHeadingLast from '../../styles/structure.css';
  text-align: left;
  border-top-right-radius: 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -0.01rem;
  min-height: 4.5rem;
  padding: 1.2rem 0 0 0;
  font-family: Montserrat, 'Proxima Nova', Arial, Helvetica, sans-serif;
}

.powerSourcesBoxContent {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f6f6f6;
  padding: 1rem 0.2rem 1rem 0.2rem;
  width: 100%;
  border-bottom-left-radius: 2.5rem;
  text-align: left;  
}

.powerSourcesBoxContent h3 {
  text-align: center;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2rem;    
  padding: 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.powerSourcesBoxContent tr td {
  font-weight: 400;
  font-size: 1.6rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #666;
}

.pieChartContainer {
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    background: #178acc;
    border-radius: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}