
.powerSourcesWrapOuter {
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

.powerSourcesBoxHeading {
  composes: boxHeadingLast from '../../styles/structure.css';
  text-align: left;
  border-top-right-radius: 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -0.01rem;
  min-height: 4.5rem;
  padding: 0.7rem 0 0 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.powerSourcesBoxHeading h3 {
    text-align: left;
    font-weight: 600;
    font-size: 2.6rem;    
    font-family: Montserrat, Arial, Helvetica, sans-serif;    
    margin: 0.2rem 0.4rem;
}

.powerSourcesBoxContent {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f6f6f6;
  padding: 1rem 0.2rem 1rem 0.2rem;
  width: 100%;
  border-bottom-left-radius: 2.5rem;
  text-align: left;  
}

.powerSourcesBoxContent h3 {
    text-align: left;
    font-weight: 600;
    font-size: 3.8rem;    
    padding: 0rem 1rem 1rem 1rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;  
    color: #178acc;
}

@media only screen and (max-width: 768px) {
  .powerSourcesBoxContent h3 {
     text-align: center;    
  }  
}

.totalBadge {      
    font-family: Montserrat, Arial, Helvetica, sans-serif;  
    margin: 0rem 9rem 0.2rem 9rem;
    font-weight: 600;
    font-size: 2rem;
    padding: 1rem 1rem 0.5rem 1rem;
    display: block;
    text-align: center;
} 

.powerSourcesBoxContent table tbody tr td {
    border: none;
}

.powerSourcesBoxContent table >tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}

.powerSourcesBoxContent table tbody tr td,
.powerSourcesBoxContent table thead tr td {
    padding: 0.6rem;
    vertical-align: middle;   
    font-weight: 600;
    font-size: 1.4rem;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;  
}

.pieChartContainer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;    
    text-align: center;
}