.badge {
  display: inline-block;
  min-width: 6rem;
  padding: 0.3rem 0.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #454545;
  text-shadow: 0.1rem 0.1rem 1px #ddd;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #eee;
  border-radius: 1.5rem;
  border: 0.2rem solid #1580BD;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
  font-weight: 600;
}
