.boxesWrapOuter {
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}
.editorialBoxHeading {
  composes: boxHeadingLast from './structure.css';
  border-top-right-radius: 2.5rem;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 2.8rem;
  height: 6rem;
  min-height: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.editorialBoxContent {
  background: #f6f6f6;
  padding: 1rem 0.2rem 1rem 0.2rem;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 2.5rem;
}
.editorialBoxContent p {
  font-weight: normal;
  font-size: 1.6rem;
  color: #666;
  text-align: left;
  margin: 0 0 3rem 0;
  line-height: 2.6rem;
}
.editorialBoxContent h3 {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.6rem;
  margin: 0 0 1rem 0;
  text-align: left;
  color: #777;
}
.editorialBoxContent h4 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin: 0 0 0.8rem 0;
  text-align: left;
  color: #777;
}
.editorialColumn {
  text-align: left;
}
.donateButtonWrapper {
  height: 4rem;
  min-height: 4rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 766px) {
  .editorialBoxHeading {
    height: 8.5rem;
    min-height: 8.5rem;
    text-align: left;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}
@media only screen and (max-width:990px) {
  .editorialBoxHeading {
    height: 8rem;
    min-height: 8rem;
  }
  .donateButtonWrapper {
    height: 9rem;
    min-height: 9rem;
    justify-content: center;
  }
  .editorialBoxContent h3 {
    text-align: center;
  }
}
.architectureDiagramWrapper {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.architectureDiagramWrapper img {
  width: 100%;
  height: 100%;
}
