.bgImage {
  opacity: 1;
  height: 100%;
  width: 100%;
}

.intel {
  composes: bgImage;
  background: url('../img/haloween/intel_logo.png') no-repeat 50% 50%/contain;
}

.nvidia {
  composes: bgImage;
  background: url('../img/haloween/nvidia_logo.png') no-repeat 50% 50%/contain;
}

.amd {
  composes: bgImage;
  background: url('../img/haloween/amd_logo.png') no-repeat 50% 50%/contain;
}

.ati {
  composes: bgImage;
  background: url('../img/haloween/ati_radeon_logo.png') no-repeat 50% 50%/contain;
}

.radeon {
  composes: bgImage;
  background: url('../img/haloween/amd_radeon_logo.png') no-repeat 50% 50%/contain;
}

.firepro {
  composes: bgImage;
  background: url('../img/haloween/amd_firepro_logo.png') no-repeat 50% 50%/contain;
}

.amd {
  composes: bgImage;
  background: url('../img/haloween/amd_logo.png') no-repeat 50% 50%/contain;
}

.pc {
  composes: bgImage;
  background: url('../img/haloween/windows_logo.png') no-repeat 50% 50%/contain;
}

.mac {
  composes: bgImage;
  background: url('../img/haloween/apple_logo.png') no-repeat 50% 50%/contain;
}

.arm64 {
  composes: bgImage;
  background: url('../img/haloween/arm64_logo.png') no-repeat 50% 50%/contain;
}

.alienware {
  composes: bgImage;
  background: url('../img/haloween/alienware_logo.png') no-repeat 50% 50%/contain;
}
