.benchmarksWrapOuter {
  width: 100%;
  margin: 1.5rem 0 3rem 0;
}
.iconsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 3.2rem;
  min-height: 3.2rem;
  width: 3.2rem;
  min-width: 2.4rem;
  margin: -0.5rem 0.5rem 0 0.5rem;
}
.benchmarksBoxHeading {
  composes: boxHeadingLast from '../../styles/structure.css';
  border-top-right-radius: 2.5rem;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 2.2rem;
  min-height: 5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
}
.benchmarksBoxContent {
  background: #f6f6f6;
  padding: 1rem 0.2rem 1rem 0.2rem;
  width: 100%;
  overflow: hidden;
  border-bottom-left-radius: 2.5rem;
  text-align: left;
}
.benchmarksBoxContent h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
  margin: 0 0 1rem 0;
  text-align: left;
}
.systemName {
  display: block;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0rem;
  color: #666;
  letter-spacing: -0.05rem;
}
.cpuDetail {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.8rem;
  margin-top: 0rem;
  color: #666;
  letter-spacing: -0.05rem;
}
.barsOuter {
  height: 9rem;
  min-height: 9rem;
}
.badge {
  display: inline-block;
  min-width: 1.5rem;
  padding: 0.3rem 0.7rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #999;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #eee;
  border-radius: 1.5rem;
  border: 0.2rem solid #999;
}
