.filters {
    position: fixed;
    top: -10.3rem;
    right: 0;
    left: 0;
    z-index: 1020;
    background: #e2e2e2;
    border-bottom: 0.2rem solid #aaa;
    transition: all 0.25s; 
    height: 22rem;
    max-height: 22rem
}

.toggleFiltersHandle {
  position: relative;
  top: 1.1rem;
  text-align: center;
  background: #e2e2e2;
  border-bottom: 2px solid #aaa;
  border-left: 2px solid #aaa;
  border-right: 2px solid #aaa;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  height: 3rem;
  max-height: 3rem;
  z-index: 1030;
  cursor: pointer;
}

.benchmarksWrapper {  
  margin: 4rem 0;
}

.benchmarksOuter {
  width: 100%;
  margin: 1.5rem 0 1.5rem 0;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon {
  height: 3.2rem;
  min-height: 3.2rem;
  width: 3.2rem;
  min-width: 2.4rem;
  margin: -0.5rem 0.5rem 0 0.5rem;
}
.benchmarksBoxHeading {
  composes: boxHeadingLast from '../../styles/structure.css';
  text-align: left;
  border-top-right-radius: 2.5rem;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.2rem;
  letter-spacing: -0.01rem;
  min-height: 4.5rem;
  padding: 1.2rem 0 0 0;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.lastUpdateTime {
    text-align: left;
    margin-top: 1.2rem;
}
.opinion {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: -0.01rem;
  color: #eee;
}
.benchmarksBoxContent {
  overflow-y: scroll;
  overflow-x: hidden;
  background: #f6f6f6;
  padding: 1rem 0.2rem 1rem 0.2rem;
  width: 100%;
  border-bottom-left-radius: 2.5rem;
  text-align: left;
}
.benchmarksBoxContent h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 4rem;
  margin: 0 0 1rem 0;
  text-align: left;
}
.systemName {
    display: block;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-top: 0rem;
    color: #666;
    letter-spacing: -0.07rem;
}
.cpuDetail {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.6rem;
    margin-top: 0rem;
    color: #666;
    letter-spacing: -0.05rem;
}
.barsOuter {
  height: 9rem;
  min-height: 9rem;
}

.samplesOuter{
    height: 9rem;
    min-height: 9rem;
    display: flex;
    align-items: top;
    justify-content: center;
    float: left;
    width: 8rem;
}

.samplesInner {
    text-align: center;
    font-weight: 600;
    padding: 1.3rem 0 0 0;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.thumbs {
  display: inline-block;
  color: #5CA9E3;
  text-shadow: 0.1rem 0.1rem 1px #666;
  padding: 0 1rem 0 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}
.systemsCountContainer {
    float:right;
}
.systemsCount {  
    font-size: 6rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    line-height: 6rem;
}
.systemsCountSubheading{
  font-size: 2rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}
.systemsCountBadge {
  composes: badge from '../badge/styles.css';
  color: #666;
  border: 0.2rem solid #1580BD;
}
.rightAlignControls {
  float: right;
  margin: 0;
  padding: 0.5rem 0;
}

.filters h3 {
    font-size: 1.4rem;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: left;
    margin-top: 1.6rem;
    margin-bottom: 0.8rem;
    color: #aaa;
}

.formContainer {
  margin-left: 0.2rem;
}

.formContainer label {  
    margin-bottom: 0.1rem;
    cursor: pointer;  
}

input[type=radio].withfont,
input[type=checkbox].withfont {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
input[type=radio].withfont ~ label:before,
input[type=checkbox].withfont ~ label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f1db";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
    width: 1.4em;
    cursor: pointer;
}

input[type=radio].withfont:checked ~ label:before,
input[type=checkbox].withfont:checked ~ label:before  {
    content: "\f00c";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
    cursor: pointer;
}
input[type=checkbox].withfont ~ label:before {        
    content: "\f096";
    cursor: pointer;    
}
input[type=checkbox].withfont:checked ~ label:before {
    content: "\f046";        
    color: darkgreen;
    cursor: pointer;
}
input[type=radio].withfont:focus ~ label:before,
input[type=checkbox].withfont:focus ~ label:before,
input[type=radio].withfont:focus ~ label,
input[type=checkbox].withfont:focus ~ label
{                
    color: green;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
  [class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}


@media only screen and (max-width: 768px) {
  .benchmarksBoxHeading {
    height: 8.5rem;
    min-height: 8.5rem;
    text-align: left;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .systemsCountContainer {
    float: none;
  }
  .systemsCount {
    text-align: center;
    float: none;
  }
  .systemsCountSubheading {
    text-align: center;
    float: none;
  }
  .rightAlignControls {
    text-align: center;
    float: none;
    margin: 0;
    padding: 0.5rem 0;
  }
  .lastUpdateTime {
    text-align: center;
    margin-top: 1.2rem;
  }
}
@media only screen and (min-width: 767px) and (max-width:991px) {
  .benchmarksBoxHeading {
    height: 5.75rem;
    min-height: 5.75rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .benchmarksBoxHeading {
    text-align: left;
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
  .thumbs {
    display: none !important;
  }
}


